#filter-line{
  margin-top: 20%;
 margin-left: 28%;
}
// .custom-input {
  // width: 140px !important; /* Adjust the width as needed */
  // height: 30px !important; /* Adjust the height as needed */
// }

#search-label{
  display:none
}
